@model PolyCare.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Registar</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <h4>Criar uma nova conta de paciente</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-user"></span>
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @placeholder="Nome" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DataNascimento, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-calendar"></span>
            @Html.EditorFor(m => m.DataNascimento)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sexo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-heart"></span>
            @Html.RadioButtonFor(m=>m.Sexo, "Masculino") Masculino
            @Html.RadioButtonFor(m => m.Sexo, "Feminino") Feminino
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NIF, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-piggy-bank"></span>
            @Html.TextBoxFor(m => m.NIF, new { @class = "form-control", @maxlength="9", @placeholder = "NIF" })
        </div>
    </div>

    //#######################
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-envelope"></span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Endereço de Email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-lock"></span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-lock"></span>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Password novamente" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registar" />
        </div>
    </div>

    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


