@model IEnumerable<PolyCare.Models.Especialidades>

@{
    ViewBag.Title = "Index";
}

<h2>Especialidades</h2>

<p>
    @Html.ActionLink("Criar nova especialidade", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Designacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EspecialidadeID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.EspecialidadeID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.EspecialidadeID })
        </td>
    </tr>
}

</table>
