@model PolyCare.Models.Medicos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especialidade.Designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidade.Designacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntradaClinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntradaClinica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumCedulaProf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCedulaProf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInscOrdem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInscOrdem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculdade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculdade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedicoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
