@model PolyCare.Models.Medicos
@using PolyCare.Models
@{
    ViewBag.Title = "Registar Médico";
    IEnumerable<Especialidades> esp = ViewBag.lista;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RegisterMedico", "Medicos", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <h4>Criar uma nova conta de médico</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-user"></span>
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @placeholder = "Nome" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DataNascimento, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-calendar"></span>
            @Html.EditorFor(m => m.DataNascimento)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sexo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-heart"></span>
            @Html.RadioButtonFor(m => m.Sexo, "Masculino") Masculino
            @Html.RadioButtonFor(m => m.Sexo, "Feminino") Feminino
        </div>
    </div>
   
    <div class="form-group">
        @Html.LabelFor(m => m.NIF, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-piggy-bank"></span>
            @Html.TextBoxFor(m => m.NIF, new { @class = "form-control", @maxlength = "9", @placeholder = "NIF" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DataEntradaClinica, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-calendar"></span>
            @Html.EditorFor(m => m.DataEntradaClinica)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumCedulaProf, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-pencil"></span>
            @Html.TextBoxFor(m => m.NumCedulaProf, new { @class = "form-control", @maxlength = "9", @placeholder = "Número da Cédula Profissional" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DataInscOrdem, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-calendar"></span>
            @Html.EditorFor(m => m.DataInscOrdem)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Faculdade, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-pencil"></span>
            @Html.TextBoxFor(m => m.Faculdade, new { @class = "form-control", @placeholder = "Faculdade" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Especialidade", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <span class="glyphicon glyphicon-star"></span>
           @foreach(var item in esp) {
               <input type="checkbox" id="@item.EspecialidadeID" name="Checked" value="@item.EspecialidadeID" />@item.Designacao
           }

        </div>
     </div>

        //#######################
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <span class="glyphicon glyphicon-envelope"></span>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Endereço de Email" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Password", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <span class="glyphicon glyphicon-lock"></span>
                @Html.Password("Password", null, new { @class = "form-control", @placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("ConfirmPassword", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <span class="glyphicon glyphicon-lock"></span>
                @Html.Password("ConfirmPassword", null, new { @class = "form-control", @placeholder = "Password novamente" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Registar" />
            </div>
        </div>


        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

