@using PolyCare.Models
@model PolyCare.Models.Marcacoes

@{
    ViewBag.Title = "Create";
}

<h2>Criar nova consulta</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="text-align:center">
        <h4>Consultas</h4>
        <img src="~/Content/Images/consulta.jpg" alt="Consulta" style="text-align:center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DataMarcacoes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="glyphicon glyphicon-calendar"></span>
                @Html.EditorFor(model => model.DataMarcacoes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataMarcacoes, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.EspecialidadeFK, "Especialidade", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="glyphicon glyphicon-briefcase"></span>
                @Html.DropDownList("EspecialidadeFK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EspecialidadeFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedicoFK, "Médico Especialista", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="glyphicon glyphicon-user"></span>
                @Html.DropDownList("MedicoFK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MedicoFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar à lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

    <script type="text/jscript">
        $('#EspecialidadeFK').change(function () {
            $.ajax({
                //base address/controller/Action
                url: '/marcacoes/ListaMedicos/',
                type: 'GET',
                data: {
                    //Passing Input parameter
                    id: $('#EspecialidadeFK').val()
                },
                success: function (result) {
                    console.log(result);
                    $("#MedicoFK").empty();
                    $.each(result, function (index, item) {      
                        $("#MedicoFK").append($('<option>',
                            {
                                value: item.MedicoID,
                                text: item.Nome
                            }));
                    });
                },
                error: function () {
                    alert("error");
                }
            });
        });
    </script>
}
