@model PolyCare.Models.Carrousel

@{
    ViewBag.Title = "Create";
}

<h2>Submeter Imagem</h2>
@if (TempData["notice"] != null) {
    <p class="alert-danger">@TempData["notice"]</p>
}

@using (Html.BeginForm("AddImage", "Carrousels", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="glyphicon glyphicon-pencil"></span>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Título" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="file" class="control-label col-md-4">Escolher imagem</label>
            <div class="col-md-6">
                <span class="glyphicon glyphicon-picture"></span>
                <input type="file" name="file" style="width: 50%;" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submeter" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para as Imagens", "Index")
</div>
